<MudAppBar Elevation="0">
    <MudContainer MaxWidth="MaxWidth.Medium">
        <div class="d-flex align-center" Elevation="1">
            <MudSpacer />

            <MudTooltip Text="GitHub" Color="Color.Primary" Placement="Placement.Bottom">
                <MudIconButton Href="https://github.com/obaki102" Icon="@Icons.Custom.Brands.GitHub"
                    Color="Color.Primary" />
            </MudTooltip>
            <MudTooltip Text="Email Address" Color="Color.Primary" Placement="Placement.Bottom">
                <MudIconButton Href="mailto:joshuajpiluden@gmail.com" Icon="@Icons.Custom.Brands.Google"
                    Color="Color.Primary" />
            </MudTooltip>
            <MudTooltip Text="Linkedin" Color="Color.Primary" Placement="Placement.Bottom">
                <MudIconButton Href="https://www.linkedin.com/in/josh-piluden-b06798110"
                    Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Primary" />
            </MudTooltip>
        </div>
        <div class="d-flex align-end" Elevation="1">
            <MudSpacer />
            <div class="mr-3 mt-1" style="width:125px">
                <MudDivider FlexItem="false" />
            </div>
        </div>
    </MudContainer>
</MudAppBar>
