@page "/"
@using MyProfile.Pages.Components
@inject IWebAssemblyHostEnvironment WebAssemblyHostEnvironment
@inject ISnackbar Snackbar
@inject IJSRuntime JsRuntime
@inject IGithubHttpClient GitHubClient

<PageTitle>joshuajpiluden</PageTitle>
<Header/>
<MudStack Class="my-2">
    <MudStack Row="false">
        <div style="width:450px; height:200px">
            <MudStack>
                <MudText Typo="Typo.h3">Josh</MudText>
                <MudDivider />
                <MudText Typo="Typo.h5">.NET Developer</MudText>
                <MudDivider />
            </MudStack>
        </div>
        <Projects />
    </MudStack>
</MudStack>

@code {
 
    private IReadOnlyList<GithubRepo>? githubProjects;

    protected override async Task OnInitializedAsync()
    {
        var gitHubResult = await GitHubClient.GetReposToBeShown();
        if (gitHubResult.IsSuccess && gitHubResult.Value is not null)
        {
            githubProjects = gitHubResult.Value;
        }
        else
        {
            Snackbar.Add("Sorry, unable to connect to Github API.", Severity.Error);
        }
        StateHasChanged();

    }

}
