@page "/"
@using MyProfile.Pages.Components
@inject IWebAssemblyHostEnvironment WebAssemblyHostEnvironment
@inject ISnackbar Snackbar
@inject IJSRuntime JsRuntime
@inject IGithubHttpClient GitHubClient

<PageTitle>joshuajpiluden</PageTitle>
<Header />
<MudStack Class="my-2">
    <MudStack Row="false">
        <MudStack>
            <div class="wrapper">
                <div class="figlet-text">
                    I'm Josh
                </div>
            </div>

            <MudDivider />
            <MudText Typo="Typo.subtitle1">I'm a .NET developer who loves exploring new ideas, building cool stuff, and
                learning from my mistakes along the way.</MudText>
            <MudDivider />
        </MudStack>
        <Projects />
    </MudStack>
</MudStack>

@code {

    private IReadOnlyList<GithubRepo>? githubProjects;

    protected override async Task OnInitializedAsync()
    {
        var gitHubResult = await GitHubClient.GetReposToBeShown();
        if (gitHubResult.IsSuccess && gitHubResult.Value is { } result)
        {
            githubProjects = result;
        }
        else
        {
            Snackbar.Add("Sorry, unable to connect to Github API.", Severity.Error);
        }
        StateHasChanged();

    }

}
